{% load cms_tags sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />

    {% render_block "css" %}
    {% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    {% endaddtoblock %}

</head>
<body>
{% cms_toolbar %}

<div id="wrapper">

  <header id="header">
    <div class="container">
      <div class="row">
        <div id="logo" class="span3">
          <a href="/"><img src="{{ STATIC_URL }}img/logo.png" alt="" /></a>
        </div>

        <nav class="span9">

            <ul class="mainnav mainnav--top">

                <li class="mainnav-item">
                    <a href="#" class="link-dark muted">Appendre le Français</a>
                </li>

                <li class="mainnav-item">
                    {% language_chooser %}
                </li>

            </ul>

            <ul class="mainnav">
                {% show_menu 0 100 100 100 %}
            </ul>

        </nav>

      </div>
    </div>
  </header>


  <main id="main">
    {% block main %}
    {% endblock %}
  </main>

  <footer id="footer">
    <div class="container display-table">

    <div class="footer-div">
        <img src="{{ STATIC_URL }}img/footer-logo.png" alt="" />
    </div>


    <nav class="footer-div text-right">
        {% show_menu_below_id "pied" %}
        <li> <a href="http://caravan.coop/" class="link-dark">Une réalisation de Caravan</a></li>
    </nav>

    </div>
  </footer>

</div>

{% render_block "js" %}
{% block extra_js %}{% endblock %}

</body>
</html>
