{% load cms_tags sekizai_tags menu_tags %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}{% trans "Ciências sem fronteiras" %}{% endblock %}</title>
    <meta charset="utf-8" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />

    {% render_block "css" %}

    {% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    {% endaddtoblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {% include 'autocomplete_light/static.html' %}

</head>
<body>
{% cms_toolbar %}

<div id="wrapper" class="page {% block wrapper_class %}page-home{% endblock %}">

  <header id="header">
    {% include 'inc/header.html' %}
  </header>

  <main id="main">
    {% block main %}{% endblock %}
  </main>

  <footer id="footer">
    {% include 'inc/footer.html' %}
  </footer>

</div>

    {% addtoblock "js" %}
    <script src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.fancybox-media.js"></script>
    <script src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/waypoints.min.js"></script>
    <script src="{{ STATIC_URL }}js/waypoints-sticky.min.js"></script>
    <script src="{{ STATIC_URL }}js/sticky-kit.jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.scrollTo.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    {% endaddtoblock %}

    {% render_block "js" %}
    {% block extra_js %}{% endblock %}

</body>
</html>
