{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
  <div class="rainbow span15">
    <p>{% trans 'Le programme brésilien <a class="italic" href="http://www.cienciasemfronteiras.gov.br/" target="_blank">Ciências sem Fronteiras</a> consiste à favoriser la mobilité des étudiants brésiliens par l’octroi de bourses facilitant la poursuite d’études à l’étranger. Le programme vise à envoyer 101 000 étudiants brésiliens étudier à l’étranger dans les domaines de la science, de la technologie, de l’ingénierie et des mathématiques d’ici 2015.' %}</p>

    <p>{% trans 'Afin de valoriser le choix par les étudiants brésiliens d’établissements francophones qui répondront à leurs besoins de formation et aux exigences du programme, l’<a href="http://www.auf.org/" target="_blank">Agence universitaire de la Francophonie</a> participe à la mise en œuvre de <span class="italic">Ciências sem Fronteiras</span> en mettant à la disposition des étudiants brésiliens un portail composé de deux volets :' %}</p>
    <ul>
      <li>{% trans 'de l’<strong>autoformation en français</strong> en ligne : le contenu, établi par des spécialistes du français sur objectifs universitaires, est mis en place progressivement sur une plateforme interactive de formation' %}</li>
      <li>{% trans 'de l’<strong>information</strong> ayant pour objectifs de' %}</li>
      <ul>
	<li>{% trans 'fournir des renseignements pratiques relatifs aux trois pays francophones participants (Belgique, Canada, France)' %}</li>
	<li>{% trans 'permettre aux étudiants d’identifier des établissements francophones offrant un programme de formation dans la discipline de leur choix.' %}</li>
      </ul>
    </ul>
    <p>{% trans 'Le lancement du portail est prévu pour novembre 2013.' %} </p>
  </div>
</div>
{% endblock %}
