{% load sekizai_tags %}
{% load i18n %}


<form method="GET" action="/recherche/" class="offreform plugin_{{ instance }}">

    {{ filter.form.etablissement__etablissement__pays }}
    
    <div class="spacer"></div>
    
    {{ filter.form.discipline }}
    
    <div class="spacer"></div>
    
    {{ filter.form.niveau }}

    <div class="spacer"></div>

    {{ form.search }}

    <div class="spacer spacer--big"></div>

    <button type="submit" class="button">{% trans 'Rechercher' %}</button>
</form>
