{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block main %}
<div class="content">
  {% for object in objects_list %}
  {% endfor %}

    <div class="content-nav">
        <div class="content-pagination pull-right">
            <a href="#" class="content-pagination-item is-selected">1</a>
            <a href="#" class="content-pagination-item">2</a>
            <a href="#" class="content-pagination-item">3</a>
            <a href="#" class="content-pagination-item">4</a>

            <a href="#" class="content-pagination-item"> &gt; </a>
        </div>

        <h4 class="blue">Troisième cycle, génie et autres domaine technique</h4>
    </div>

    <div class="spacer spacer--big"></div>
    <div class="spacer spacer--big"></div>

    <div class="row-fluid">
        <div class="span3">
            
            form here

        </div>

        <div class="span9">
            
            <h3>Génie et autres domaines techniques</h3>
            
            <div class="separator"></div>

            <div class="row-fluid">
                <div class="span6">
                    
                    <h4>Belgique</h4>
                    <p class="muted">
                        Université libre de Bruxelles <br>
                        Troisième cycle
                    </p>

                    <div class="spacer"></div>

                    <a href="#" class="button">Voir l'établissement</a>
                </div>

                <div class="span6">
                    <img src="//placehold.it/450x350" alt="" class="img-polaroid">
                </div>
            </div>

            <div class="separator"></div>

            <div class="row-fluid">
                <div class="span6">        
                    <h4>Canada</h4>
                    <p class="muted">
                        Université de Québec à Montréal <br>
                        Troisième cycle
                    </p>

                    <div class="spacer"></div>

                    <a href="#" class="button">Voir l'établissement</a>

                </div>

                <div class="span6">
                    <img src="//placehold.it/450x350" alt="" class="img-polaroid">
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
