{% extends "1col.html" %}
{% load i18n %}
{% load cms_tags sekizai_tags %}

{% block wrapper_class %}page-result{% endblock %}

{% block main %}
<div class="outdoor outdoor--formation">
    <div class="container">
        <div class="row">
            <div class="span6" style="margin-left: 45px;">
                <div>
                    <div class="media">
                        <div class="pull-left" style="margin-right: 30px;">
                            <img src="{{ STATIC_URL }}img/page/icon-5.png" alt="" class="media-etabli" />
                        </div>
                        <div class="media-body">
                            <h1 class="lineheight110">{% trans "Établissement" %}</h1>
                            <div class="spacer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">

    <div class="row-fluid">
        
        <div class="span3">
            {% include "formulaire/_search.html" %}

            <h4>{% trans "Ailleurs dans le pays:" %}</h4>

            <ul class="list">
                {% for obj in etabli.dans_le_pays %}
                    <li><a href="/recherche/{{obj.0}}/">{{obj.1}}</a></li>
                {% endfor %}
            </ul>
        </div>


        <div class="span8">
            <div class="row-fluid">
        
                <div class="span7">
                    <h3>{{ etabli.nom }}</h3>
                    {% if images.photo %}
                        <img src="{{ images.photo.url }}" alt="" class="img-polaroid">
                    {% endif %}

                    <div class="spacer spacer--big"></div>
                    <table class="infotable">
                        <thead>
                            <tr>
                                <th class="th--master">{% trans "Informations" %}</th>
                            </tr>
                        </thead>
                    </table>
                    {% with urls=etabli.etablissement_eligible.urls %}
                    {% for u in urls.all %}
                        {% if u.url %}
                        <p><a href="{{ u.url }}">{{ u.type.display_name }}</p>
                        {% endif %}
                    {% endfor %}
                    {% endwith %}
                </div>

                <div class="span3 offset1">
                    {% if images.logo %}
                    <img style="height: 100px;
                                position:absolute;
                                right: 55px;"
                         src="{{ images.logo.url }}" alt="">
                    {% endif %}
                    <h3 class="info-title">{% trans "Pays" %}</h3>
                    <div class="info-data">{{ etabli.pays.nom }}</div>
		    
                    <div class="spacer"></div>

                    <h3 class="info-title">{% trans "Ville" %}</h3>
                    <div class="info-data">{{ etabli.ville }}</div>

                    <div class="spacer"></div>

                    <h3 class="info-title">{% trans "Contact" %}</h3>
                    {% with contact=etabli.etablissement_eligible.contact_info %}
                        <p class="info-data">{{ contact.prenom|title }} {{ contact.nom|title }}</p>
                        <a href="mailto:{{ contact.courriel }}">{{ contact.courriel|lower }}</a>
                        {% if contact.telephone %}
                            <div><img width="12" src="{{ STATIC_URL}}img/phone.png" />{{ contact.telephone }}</div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div class="spacer"></div>
                    <div class="spacer spacer--big"></div>

                    {% regroup disciplines by discipline as discipline_list %}

                    <table class="infotable">
                        <colgroup width="45%"></colgroup>
                        <thead>
                            <tr>
                                <th class="th--master">{% trans "Disciplines" %}</th>
                                <th>{% trans "1er Cycle" %}</th>
                                <th>{% trans "2e Cycle" %}</th>
                                <th>{% trans "3e Cycle" %}</th>
                                <th>{% trans "Post doctorat" %}</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for discipline in discipline_list %}
                            <tr>
                                <td>{{discipline.grouper}}</td>

                                <td>
                                    {% for item in discipline.list %}
                                        {% if item.niveau.id == 1 %}<span class="green">&#x2713;</span>{% endif %}
                                    {% endfor %}
                                </td>

                                <td>
                                    {% for item in discipline.list %}
                                        {% if item.niveau.id == 5 %}<span class="green">&#x2713;</span>{% endif %}
                                    {% endfor %}
                                </td>

                                <td>
                                    {% for item in discipline.list %}
                                        {% if item.niveau.id == 2 %}<span class="green">&#x2713;</span>{% endif %}
                                    {% endfor %}
                                </td>
                                
                                <td>
                                    {% for item in discipline.list %}
                                        {% if item.niveau.id == 4 %}<span class="green">&#x2713;</span>{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <a href="#" class="content-bottombutton">{% trans "Haut de page" %}</a>
        </div>

    </div>

</div>
{% endblock %}
