<div class="row-fluid">
        
        <div class="span3">

            <h4>Autre établissements du Canada</h4>

            <ul class="list">
                <li>nom d’université</li>
                <li>Lien cliquable</li>
                <li>Sciences de la santé et science  biomédicales</li>
                <li>Technologies de l’information et  des communications</li>
                <li>Aéorospatiale</li>
            </ul>

        </div>


        <div class="span5">
            <h3>Établissement</h3>

            <img src="//placehold.it/450x300" alt="" class="img-polaroid">

            <div class="spacer spacer--big"></div>
            
            <h3>Description</h3>
            <div class="text">
                <p>De par la constitution canadienne, l'éducation relève de la compétence des provinces et des territoires; en l'occurrence, le Canada n'a pas de ministère national de l'éducation. Les universités sont responsables de l'enseignement supérieur. Les universités sont publiques et financées en très grande partie par les gouvernements provinciaux. Le gouvernement fédéral participe également de façon significative au financement de la recherche universitaire.</p>
            </div>

        </div>

        <div class="span3 offset1">
            <h3 class="info-title">Pays</h3>
            <div class="info-data">Canada</div>
            
            <div class="spacer"></div>

            <h3 class="info-title">Ville</h3>
            <div class="info-data">Montréal</div>

            <div class="spacer"></div>

            <h3 class="info-title">Liens utiles</h3>
            <a href="#" class="info-data">uqam.ca</a><br>
            <a href="#" class="info-data">Inscription</a><br>
            <a href="#" class="info-data">secrétariat</a><br>
            <a href="#" class="info-data">CSF</a>

            <div class="spacer"></div>

            <h3 class="info-title">Contacts</h3>
            <a href="#" class="info-data">uqam.ca</a>
        </div>

    </div>
