{% extends "1col.html" %}
{% load i18n %}
{% load cms_tags sekizai_tags %}

{% block main %}
<div class="outdoor outdoor--formation">
    <div class="container">
        <div class="row">
            <div class="span6" style="margin-left: 45px;">
                <div>
                    <div class="media">
                        <div class="pull-left" style="margin-right: 30px;">
                            <img src="{{ STATIC_URL }}img/page/icon-5.png" alt="" class="media-object">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">

    <div class="row-fluid">
        
        <div class="span3">
           <h3>{% trans "Offre de formation" %}</h3>
	    {% include "formulaire/_search.html" %}
        </div>


        <div class="span5">
            <h3>{{ object.nom }}</h3>

            <img src="//placehold.it/450x300" alt="" class="img-polaroid">

            <div class="spacer spacer--big"></div>
            
            <h3>{% trans "Description" %}</h3>
            <div class="text">
                <p>{{ object.description }}</p>
            </div>
	</div>

        <div class="span3 offset1">
            <h3 class="info-title">{% trans "Pays" %}</h3>
            <div class="info-data">{{ object.pays.nom }}</div>
            
            <div class="spacer"></div>

            <h3 class="info-title">{% trans "Ville" %}</h3>
            <div class="info-data">{{ object.ville }}</div>

            <div class="spacer"></div>

            <h3 class="info-title">{% trans "Contacts" %}</h3>
            <a href="{{ object.url }}" class="info-data">
              {{ object.url }}
            </a>
        </div>
    </div>
    <div class="row-fluid">
        
        <div class="span9 offset3">

            {% regroup disciplines by discipline as discipline_list %}    
            <table class="infotable">
                <colgroup width="45%"></colgroup>
                <thead>
                    <tr>
                        <th class="th--master">{% trans "Disciplines" %}</th>
                        <th>{% trans "1er Cycle" %}</th>
                        <th>{% trans "2e Cycle" %}</th>
                        <th>{% trans "3e Cycle" %}</th>
                        <th>{% trans "Post doctorat" %}</th>
                    </tr>
                </thead>

                <tbody>
		  {% for discipline in discipline_list %}
                    <tr>
                        <td>{{discipline.grouper}}</td>

			<td><span>
			{% for item in discipline.list %}
			  {% if item.niveau.id == 1 %}
				x
			  {% endif %}
		        {% endfor %}
			 </span</td>


			<td><span>
			{% for item in discipline.list %}
			  {% if item.niveau.id == 5 %}
				x
			  {% endif %}
		        {% endfor %}
			 </span</td>

			<td><span>
			{% for item in discipline.list %}
			  {% if item.niveau.id == 2 %}
				x
			  {% endif %}
		        {% endfor %}
			 </span</td>


			<td><span>
			{% for item in discipline.list %}
			  {% if item.niveau.id == 4 %}
				x
			  {% endif %}
		        {% endfor %}
			 </span</td>


                    </tr>
		  {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="spacer spacer--big"></div>
</div>
{% endblock %}
