{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block main %}
<div class="content">
  {% for object in objects_list %}
  {% endfor %}

  <div class="row-fluid">
        
        <div class="span2">
            <h3>Destinations</h3>

            <ul class="list list--bordered">
                <li><a href="#">Belgique</a></li>
                <li><a href="#">Canada</a></li>
                <li><a href="#">France</a></li>
            </ul>
        </div>


        <div class="span6 offset1">
            <h3>Canada</h3>

            <img src="//placehold.it/450x300" alt="" class="img-polaroid">

            <div class="spacer spacer--big"></div>
            
            <div class="text">
                <p>Le Canada est le deuxième plus grand pays au monde après la Russie et est situé dans la partie septentrionale de l'Amérique du Nord. Capitale : Ottawa. Population : 35 millions d'habitants. Langues officielles : français et anglais. Le Canada est une fédération composée de 10 provinces et de trois territoires.</p>

                <h4>Présentation du système d’enseignement supérieur</h4>
                <p>De par la constitution canadienne, l'éducation relève de la compétence des provinces et des territoires; en l'occurrence, le Canada n'a pas de ministère national de l'éducation. Les universités sont responsables de l'enseignement supérieur. Les universités sont publiques et financées en très grande partie par les gouvernements provinciaux. Le gouvernement fédéral participe également de façon significative au financement de la recherche universitaire.</p>
                <p>Il existe 102 universités au Canada reconnues par les gouvernements provinciaux.</p>

                <h4>Processus d’admission</h4>
                <p>Le boursier du programme Ciência sem Fronteiras complète le formulaire de demande d'admission du Bureau canadien d'éducation internationale (BCEI) ou du CALDO en indiquant par ordre prioritaire les universités où il souhaite être admis dans un programme d'études.</p>

                <h4>Permis de séjou, permis de travail</h4>
                <p>Au Canada, de par un accord constitutionnel, l'immigration est de compétence partagée entre le gouvernement du Canada et le gouvernement du Québec. Ainsi, si vous êtes admis dans une université située au Québec, vous devez dans un premier temps, obtenir un Certificat d'acceptation du Québec (CAQ) pour études. Pour information, consultez le site web du ministère de l'Immigration et des Communautés culturelles du Québec (www.caq-etudes.gouv.qc.ca ).</p>
                <p>Une fois obtenu, vous devez entamer les démarches en vue d'obtenir le Permis d'études auprès de la représentation du Canada qui couvre le territoire où vous demeurez. Consulter le site web de Immigration et Citoyenneté Canada (www.cic.gc.ca ).</p>
                <p>Pour les boursiers qui sont admis dans une université canadienne hors-Québec, vous n'avez qu'à obtenir un Permis d'études émis par Immigration et Citoyenneté Canada (www.cic.gc.ca )</p>

                <p>Les organismes canadiens (BCEI et CALDO) qui gèrent l'accueil des boursiers du programme Ciencia sem Fronteiras sauront vous renseigner.</p>

                <h4>Exigences linguistiques</h4>
                <p>Dans la mesure où les enseignements offerts sont en langue française, les établissements universitaires exigent une bonne connaissance du français. Au moment de la demande d'admission, selon les modalités en vigueur dans chaque université, vous devrez passer un test de connaissances du français. Si vous ne détenez pas le niveau requis, vous pourrez suivre des cours d'apprentissage du français jusqu'à concurrence de quatre mois dans une école de langues choisie par l'université qui vous aura admis.</p>

                <h4>Hébergement</h4>
                <p>La plupart des universités canadiennes possèdent des résidences pour leurs étudiants, ce qui constitue la solution d'hébergement la plus abordable et la plus pratique. Vous pourrez également louer facilement et à prix économique un appartement à proximité du campus.</p>
                <p>Les organismes canadiens (BCEI et CALDO) qui gèrent l'accueil des boursiers du programme Ciencia sem Fronteiras sauront vous renseigner.</p>
            </div>

            <a href="#" class="content-bottombutton">Haut de page</a>
        </div>

        <div class="span2 offset1">
            <h3 class="info-title">Population</h3>
            <div class="info-data">35 millions</div>
            
            <div class="spacer"></div>

            <h3 class="info-title">Capitale</h3>
            <div class="info-data">Ottawa</div>

            <div class="spacer"></div>

            <h3 class="info-title">Langue</h3>
            <div class="info-data">Anglais</div>
            <div class="info-data">Français</div>
        </div>

    </div>
</div>
{% endblock %}
