.mainnav {
    display: table;
    width: 100%;
    margin-top: 10px;
}

.mainnav-item {
    display: table-cell;
    width: 20%;
    text-align: center;
    line-height: 1rem;
    font-size: 16px;
    padding-top: 10px;
}

.mainnav.mainnav--top {
    border-bottom: solid 1px #ddd;
    margin-top: 40px;
}

.mainnav--top .mainnav-item {
    text-align: right;
    width: auto;
    padding-top: 0px;
    padding-bottom: 20px;
}


#mainmenu {
    line-height: 1.5em;
    background-color: #fff !important;
    border-bottom: solid 1px #ddd !important;
    background-color: #f4f4f4;
    display: none;

    .mainnav {
        margin-top: 0;
    }
}

#mainmenu.stuck {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: block;
    z-index: 100;
}

#logo-min {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}