{% load cms_tags %}
{% load i18n %}
<div class="slider">

    <ul class="slider-bulletgroup">
        <li class="slider-bullet is-current" data-bullet="0"></li>
        <li class="slider-bullet" data-bullet="1"></li>
        <li class="slider-bullet" data-bullet="2"></li>
        <li class="slider-bullet" data-bullet="3"></li>
        <li class="slider-bullet" data-bullet="4"></li>
    </ul>
    
    <div class="slide slide-main" data-slide="0">
        <div class="slide-wrapper container">
           <div style="position: absolute; top: 105px; left: 0; right: 0; text-align: center;">            
              {% placeholder slide1 %}
           </div>

            <img src="{{ STATIC_URL }}img/slider/slide-img-1.png" alt="" style="position: absolute; bottom: 0; left: 50%; margin-left: -380px;" />


            <div class="slide-circlebottom" data-bullet="0"></div>
        </div>
    </div>


    <div class="slide" data-slide="1">
        <div class="slide-wrapper container">
            
            {% placeholder slide2 %}

            <div class="slide-circleup" data-bullet="1"></div>
            <div class="slide-circlebottom" data-bullet="1"></div>
        </div>
    </div>

    
    <div class="slide" data-slide="2">
        <div class="slide-wrapper container">
            
            <div class="pull-right" style="margin-right: 50px;">
                <div class="offreform-wrapper">
                    {% include "formulaire/_search.html" %}
                </div>
            </div>

            <div style="width:580px">
              {% placeholder slide3 %}
            </div>

            <div class="slide-circleup" data-bullet="2"></div>
            <div class="slide-circlebottom" data-bullet="2"></div>
        </div>
    </div>

    <div class="slide" data-slide="3">
        <div class="slide-wrapper container">
            
            <div style="position: absolute; right: 0; ">
                <img src="{{ STATIC_URL }}img/slider/slide-img-3.png" alt="" />
            </div>

           <div style="width:585px">
            {% placeholder slide4 %}
           </div>

            <div style="height: 100px"></div>

            <div class="slide-circleup" data-bullet="3"></div>
            <div class="slide-circlebottom" data-bullet="3"></div>
        </div>
    </div>

    <div class="slide" data-slide="4">
        <div class="slide-wrapper container">
            
            <div>
              {% placeholder slide5 %}
            </div>
            <div class="text-right" style="padding-right: 335px;">
                <img src="{{ STATIC_URL }}img/slider/slide-img-4.png" alt="" />
            </div>

            <div class="slide-circleup" data-bullet="4"></div>
        </div>
    </div>

</div>
